.blogs {
  scroll-margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
  font-family: "Inter", sans-serif;
  /* display: none; */
}

.blogs h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.blogs-cards {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 1rem;
  padding: 1rem;
  -webkit-overflow-scrolling: touch;

  /* Hide scrollbar */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.blogs-cards::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.blogs-card {
  flex: 0 0 auto;
  width: 90%;
  max-width: 23rem;
  padding: 1rem;
  border-radius: 1rem;
  scroll-snap-align: start;
}

.blogImage {
  height: 23rem;
  width: 100%;
  overflow: hidden;
}

.blogImage img {
  height: 100%;
  width: 100%;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  object-fit: cover;
}

.blogs-card p {
  font-size: 0.8rem;
  margin: 0.5rem 0;
}

.blogs-card h2 {
  font-size: 1.2rem;
  margin: 0.5rem 0;
}

.ready-to-join {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ready-to-join h1 {
  font-size: 1.5rem;
  margin: 2rem 0;
}

.ready-to-join span {
  width: 50%;
  text-align: center;
  font-size: 1rem;
  margin-bottom: 2rem;
}

.ready-to-join p {
  font-size: 1rem;
  margin-bottom: 3rem;
}

.ready-cta {
  display: flex;
  gap: 3rem;
  margin-bottom: 5rem;
}



/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
@media (min-width: 320px) and (max-width: 480px) {
  
  .blogs {
    scroll-margin-top: 80px;
    margin-top: 2rem;
    padding: 0 3rem;
  }

  .blogs h1 {
    font-size: 1.5rem;
    text-align: center;
  }

  .blogs-cards {
    gap: 0.5rem;
    padding: 1rem;
    justify-content: center;
  }

  .blogs-card {
    width: 50%;
    padding: 0.8rem;
  }


  .blogImage {
    height: 5rem;
  }

  .blogImage img{
    object-fit: cover;
  }

  .blogs-card p {
    font-size: 0.75rem;
  }

  .blogs-card h2 {
    font-size: 1rem;
  }

  .ready-to-join h1 {
    font-size: 1.2rem;
    text-align: center;
    margin: 1.5rem 0;
  }

  .ready-to-join span {
    width: 90%;
    font-size: 0.9rem;
    margin-bottom: 1.5rem;
  }

  .ready-to-join p {
    font-size: 0.9rem;
    margin-bottom: 2rem;
    text-align: center;
  }

  .ready-cta {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-bottom: 3rem;
  }
}
